@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');



:root{
    --fonte1: verdana, Geneva , tahoma,sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}


html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);

}


header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
    
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;/*letras maiusculas 1 maior*/
    font-size: 10vw; /*tamanho da letra adpta ao tamanho da tela*/
}
header > p {
    padding-bottom: 50px;
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover , footer a:hover{
    text-decoration: underline;
}

section{
    padding: 10% 0% 10% 30px;
    line-height: 2em; /*espasamento entre as linhas*/
    font-family: var(--fonte3);
    font-size: 4.5vw;
    
}

section.normal{
    background-color: white;
    color: black;

}

section.imagem{
    background-color: rgb(100, 95, 95);
    color: white;
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.24);
    padding: 5px;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;


}