@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


html, body{
    background-color: darkgray;
    min-height: 100vh;
}


header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;/*letras maiusculas 1 maior*/
}
header > p {
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover , footer a:hover{
    text-decoration: underline;
}

section{
    padding: 10% 0% 10% 30px;
    line-height: 2em; /*espasamento entre as linhas*/
    
}

section.normal{
    background-color: white;
    color: black;

}

section.imagem{
    background-color: rgb(100, 95, 95);
    color: white;
}

section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.24);
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;


}