@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
}

div{
    border: 2px solid black;
}
.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: red;
   
}

.alinhamento{
    display: flex;
}

.video{
    background-color: rgb(150, 150, 150);
    height: 80%;
    width: 80%;
}

.ep{
    height: 100px;
}

iframe{
    height: 100%;
    width: 100%;
    
}


<iframe src="https://embedplayer.online/player/9yO6HL1MQOpMxyR/" scrolling="no" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" width="100%" height="100%" frameborder="0"></iframe>