@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
}
:root{
    --cor1 : #005F73;
    --cor2 : #001219;
    --cor3 : #0A9396;

}


.container{
    display: grid;
    height: 100%;
    width: 100vw;
    background-color: var(--cor1);
    
    
}
body{
    
   
}

.alinhamento{
    margin: 50px ;
    display: flex;
    height: 80%;
    background-color: var(--cor2);
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.329);
    
}

.video{
    background-color: rgb(150, 150, 150);
    height: 100%;
    width: 60%;
}
.tabela{  
    width: 50%;
}

.mini-heder{
    height: 100px;
    margin: 20px 20px 
}
.mini-heder h1{
    padding-top: 5px;
    text-shadow: 2px 2px 2px black;
}

.mini-heder p {
    font-size: clamp(0,5em, 0,5em + 0,5vw, 0,5em);
}

.episodios{
    height: 80%;
    overflow-y: scroll;
    margin-left: 20px;
    
}
.bloco-ep{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.bloco-ep button{
    height: 100px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 2.0em;
}
.bloco-ep h1{
    font-size: 1.2em;
    margin-left: 13px;
}




iframe{
    height: 100%;
    width: 100%;
    
}

video{
    height: 10px;
    width: 10px;
    margin-top: 100px;
}
  