@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
}

div{
    border: 2px solid black;
}
.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: red;
    
   
}

.alinhamento{
    margin: 50px ;
    display: flex;
    height: 80%;
}

.video{
    background-color: rgb(150, 150, 150);
    height: 100%;
    width: 60%;
}
.tabela{
    width: 50%;
}

.mini-heder{
    height: 100px;

}

.episodios{
    height: 85%;
    overflow-y: scroll;
}
.bloco-ep{
    display: flex;
    align-items: center;
}
.bloco-ep button{
    height: 100px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 2.0em;
}
.bloco-ep h1{
    font-size: 1.2em;
}




iframe{
    height: 100%;
    width: 100%;
    
}

