

body{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    
     width: 100px;
    height: 50px;
}
.d-logo{
    display: inline-block;
}

header{
    display: inline-block;
    color: white;
    margin-top: 100px;

}


.Recomendados{
    display: flex;
    
}


p{
    font-size: 1.5em;
    padding-left: 10px;
    color: white;
}


.capa{
    height: 100%;
    width: 400px;
    margin: 20px;
}




img{
    height: 100%;
    width: 100%;
}