

body{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    
     width: 100px;
    height: 50px;
}
.d-logo{
    display: inline-block;
}

header{
    display: block;
    color: white;
    margin-top: 100px;

}

img{
    transition: all 0.5s;
}


main {
    display: inline-block;

}




.umbrella{
    height: 300px;
    width: 250px;
    margin: 10px;
}

.umbrella:hover{
    height: 360px;
    width: 290px;
}


.jovens{
    height: 300px;
    width: 250px;
    margin: 10px;
    margin: 10px;

}

.jovens:hover{
    height: 360px;
    width: 290px;
    
}

.just{
    height: 300px;
    width: 230px;
}

.just:hover{
   
    height: 360px;
    width: 290px;
}

.Recomendados{
    margin-top: 70px;
    color: white;
}

a{
    color: white;
}
