

body{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    
     width: 100px;
    height: 50px;
}
.d-logo{
    display: inline-block;
}

header{
    display: inline-block;
    color: white;
    margin-top: 100px;

}


.Recomendados{
    display: flex;
    
}
.capa{
    
}

p{
    font-size: 1.5em;
    padding-left: 10px;
    color: white;
}


.bloco{
    height: 50%;
    width: 100%;
    margin: 20px;
}
.capa{
    margin: 20px;
}

.bloco:hover{
    transition: 1s;
    float: unset;
    height: 55%;
    width: 110%;
}