

body{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    
     width: 100px;
    height: 50px;
}
.d-logo{
    display: inline-block;
}

header{
    display: inline-block;
    color: white;
    margin-top: 100px;

}

main h1{
    display: inline-block;
}

.Recomendados{
    display: flex;
    
}
p{
    font-size: 1.5em;
    padding-left: 10px;
    color: white;
}

img{
    padding: 0px;
    margin: 10px;
    height: 80%;
    width: 90%;
}

.bloco:hover{
    transition: 1s;
   box-shadow: 4px 4px 10px red;
}