body{
    background: black;
    color: aliceblue;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

}
.conteudo{
    margin: 0 auto;
    width: 100%;
    max-width: 450px ;
    margin-top: 50 px;
    margin-bottom: 50px ;
    background: #2b2b2a;
    padding: 55px ;
    border-radius: 12px ;

}
.topo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px ;
}

.topo input{
    width: 350px ;
    padding: 15px ;
    border-radius: 12px ; /** deixar a borda arredondada **/
    border: 3px solid black;
    outline: none;
    font-size: 1.2rem;

}
.topo.button{
    width: 45px ;
    border-radius: 12px ;
    border: 10px solid black;
    background: black;
    outline:none;

}
.topo button:hover{
    background: green;
    cursor: pointer;
}

#listaTarefas{
    list-style-type:none ;
    padding: 0;
    margin: 0 ;

}
#listaTarefas{
    padding: 20px;
    background: #191818;
    border-radius: 12px ;
    display:flex;
    justify-content: space-between;
    align-items: center;

}