*{
    margin: 0;
    padding: 0 ;
   
}
.fundo{
    background-image:linear-gradient(45deg,black,crimson);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    


}
.calculadora{
    position: absolute;
    background-color: black;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px ; /** distancia entre elementos e bordas **/

}
.botao{
    width: 50px ;
    height: 50px ;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color:aliceblue;
    border-radius: 10px;


}
.botao:hover {
    background-color: rgb(43, 255, 0);
}
#resultado{
    width: px;
    background-color: wheat;
    height: 30px;
    margin: 5px;
    font-size: 25px black;
    text-align: right black;
    color: black;
    padding: 5px;
    border-radius: 5px;

}
footer{
    background-image:linear-gradient(45deg,black,crimson);
    text-align: right;
    color: rgb(8, 8, 8);
}